@{
    bool ok = (bool)ViewData["status"];
}



<div class="card card-body">
    <p> @String.Format("Aktuální čas: {0}",DateTime.Now.ToShortTimeString()) </p>

    @if(ok)
    {
        
        <div class="alert alert-success d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-2 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            Připojení do DB proběhlo úspěšně.
          </div>
        </div>
    }
    else
    {
        <span class="alert alert-danger d-flex align-items-center" role="alert">CHYBA PŘIPOJENÍ DO DB!!!</span>
    }
</div>
